.container {
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 50px;
    background: #0c1c2c;
    color: #fff;
    height: 85vh;
    max-width: 100%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  }
  
  .title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 15px;
    color: #e0a800;
  }
  
  .description {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .button {
    padding: 10px 20px;
    font-size: 1rem;
    background: #ffbf00;
    color: #0c1c2c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .button:hover {
    background: #e0a800;
  }
  